:root {
    --bronze: #736656;
    --areia: #F2E8DC;
    --cafe: #40250D;
    --caramelo: #BF793B;
    --terra: #401809;

    --caramelo-white: #d19d70;

}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--areia);
    margin: 5%;
    background: #736656;
    background: linear-gradient(180deg, rgba(115, 102, 86, 1) 14%, rgba(64, 24, 9, 1) 100%);
}

footer {
    font-weight: bold;
    text-align: center;
    color: var(--areia);
}

#menuPedro {
    background-color: rgba(64, 24, 9, 0.8);
    padding: 0.7em;
    border-radius: 20px;
}

.scroll {
    scroll-margin-top: 85px;
}

a.menuPedro {
    color: var(--areia);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s, color 0.3s;
}

a.menuPedro:hover {
    color: var(--caramelo-white);
}

a:link {
    color: var(--areia);
}

img.foto {
    width: 225px;
    box-sizing: border-box;
    border: solid #40250D 5px;
    border-radius: 25px;
    padding: 3px;
}

h4.subTitulo {
    color: var(--caramelo-white);
}

p.justificado {
    text-align: justify;
}

iframe.mapa {
    border-radius: 15px;
}

div.social {
    text-align: center;
    margin-bottom: 1em;
}

.tab {
    margin-left: 1em;
}

footer {
    color: var(--caramelo);
}